/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile Generale */

body{
    width: 512px;
    outline: 1px solid black;
}

/* Utility */
.text-center{
    text-align: center;
}

.text-white{
    color: white;
}

.display-inline-block{
    display: inline-block;
}