/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile Generale */

body{
    width: 512px;
}

/* Utility */
.text-center{
    text-align: center;
}

.text-white{
    color: white;
}

.display-inline-block{
    display: inline-block;
}

.border-radius{
    border-radius: 30px;
}

/* Header */

.header-image{
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}